# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# python
venv/
__pycache__/
*.pyc

# database
*.db
*.db-shm
*.db-wal

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.production.example

# generated nginx conf (from template)
deploy/nginx.conf

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
